.container{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.containerDetail{
    padding-left: 200px;
    padding-right: 200px;
}



.card_image{
    width: 100%;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.cardImg{
    width: 1196px;
    height: 400px;
    text-decoration: none;
    border-radius: 10px;
    }

.cardTitle{
    font-size: 36px;
    margin-top:30px;
    margin:0;
    font-weight: bold;
}

.cardText{
    font-size: 24px;
    color: #C4C4C4;
    margin: 0;
}

.cardHarga{
    font-size: 28px;
    color: #C4C4C4;
}

.cardDescription{
    font-size: 28px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
}
.comentName{
    width: 100%;
    height: auto;
    font-weight: bold;
    font-size: 32px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.coment{
    width: 100%;
    font-size: 28px;
    height: auto;
    font-family: 'Montserrat', sans-serif;
}

.commentForm{
    background-color: #363332;
    padding: 30px;
    border-radius: 10px;
    
}

.form{
    display: grid;
    
}

.commentFormNama{
    padding: 10px;
    border-radius: 15px;
}


.commentFormText{
    height:120px;
    border-radius: 15px;
    
}

.commentFormButton button{
    border-radius: 10px;
    margin-left:100px ;
    background-color: rgb(255, 0, 0);
    
}

